---
import SectionContainer from "../SectionContainer.astro";

---

<SectionContainer >
    <article class="w-full py-32 px-8 text-white flex justify-center items-center gap-16 bg-[#E64309]/70 text-pretty">
        <div>
            <h1 class="text-3xl font-medium">
                OBJETIVO
            </h1>
            <p class="mt-6">
                NUESTRO OBJETIVO ES REALIZAR CON BUEN DESEMPEÑO Y DE LA MEJOR CALIDAD TODOS NUESTROS TRABAJOS SIENDO RESPONSABLES Y ÉTICOS CON UNA VISIÓN INCLUYENTE HACIA NUESTROS CLIENTES.
            </p>
        </div>
        <div>
            <h1 class="text-3xl font-medium">
                METAS
            <h1/>
            <p class="mt-6">
                SOMOS UNA EMPRESA MEXICANA DEDICADA A HACER OBRAS DE CALIDAD DE ACUERDO A LAS NECESIDADES REQUERIDAS POR LOS CLIENTES CONSTRUIR OBRAS QUE CUMPLAN CON LOS ESTÁNDARES DE CALIDAD Y SEAN ÚTILES PARA EL DESARROLLO.
            </p>
        </div>
    </article>
    
</SectionContainer>