---
import SectionContainer from "../SectionContainer.astro"

---

<SectionContainer  >
    <article class="w-full pt-28 bg-[#E64309]/70 text-white text-center">
        <h2 class="font-bold text-5xl pb-12">Galeria</h2>
        <div class=" flex flex-wrap border">
            <div class="w-6/12 flex">
                <img src="./img/1.webp" alt="">
                <h5 class="flex justify-center items-center text-sm">PUENTE PEATONAL DE UNA ARTERIA VIAL</h5>
                
            </div>
            <div class="w-6/12 flex">
                <img src="./img/3.webp" alt="">
                <h5 class="flex justify-center items-center text-sm">ESCALINATAS TECHADAS</h5>
            </div>
            <div class="w-6/12 flex">

                <h5 class="flex justify-center items-center text-sm">OBRA DE HOGAR SEMILLA ESTADO DE MORELOS Y SUS MUNICIPIOS. M
                </h5>
                <img src="./img/5.webp" alt="">
            </div>
            <div class="w-6/12 flex">
                <h5 class="flex justify-center items-center text-sm">OBRA DE TAPACHULA, CHIAPAS  
                </h5>
                <img src="./img/8.webp" alt="">
            </div>
            <div class="w-6/12 flex">
                <img src="./img/9.webp" alt="">
                <h5 class="flex justify-center items-center text-sm">OBRA DE TAPACHULA, CHIAPAS  
                </h5>
                
            </div>
            <div class="w-6/12 flex">
                <img src="./img/11.webp" alt="">
                <h5 class="flex justify-center items-center text-sm">OBRA DE OAXACA DE JUAREZ
                </h5>
                
            </div>
        </div>
    </article>
</SectionContainer>

<style>
    img{
        width: 50%;
    }

    h5{
        width: 50%;
    }
</style>