---
import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer >
    <article class="bg-[url('../img/bg.jpg')] w-full h-screen bg-no-repeat bg-cover flex items-center justify-evenly flex-col">
        <span class="text-white text-7xl font-bold max-w-5xl text-center">
            GRUPO CONSTRUCTOR DANYANTU S.A. DE C.V
        </span>
        <div class="text-white text-3xl font-semibold text-center">
            <span>+9 PROYECTOS</span>
            <span> | 4 ESTADOS </span>
        </div>
    </article>
</SectionContainer>

<style>
    span{
        text-shadow: 10px 10px 20px rgba(0,0,0,1);
    }
</style>