---
import SectionContainer from "../SectionContainer.astro"

---

<SectionContainer >
    <article class="w-full pt-28 text-center">
        <h2 class="font-bold text-5xl text-[#E64309] mx-auto block mb-6">Expertos en los siguientes trabajos</h2>
        <div class="py-10">
            <ul class="w-full px-8 flex  items-strech flex-wrap gap-x-8 gap-y-4 mx-auto custom-children justify-center">
                <li>TODO TIPO DE ACERO</li>
                <li>DUROCK</li>
                <li>TABLA ROCA</li>
                <li>PANEL W</li>
                <li>LOSETA</li>
                <li>PINTURA</li>
                <li>PECHO PALOMAS</li>
                <li>LOZAS EN 2 Y 4 AGUAS</li>
                <li>IMPERMEABILIZACIONES</li>
                <li>BARDAS</li>
                <li>CANCELERÍA EN GENERAL</li>
                <li>ACABADOS EN MADERA INTERIORES</li>
                <li>HERRERÍA</li>
                
                <li>ELECTRIFICACIÓN</li>
                <li>PLOMERÍA</li>
                <li>SISTEMA HIDRÁULICOS DE ALTA GAMA</li>
                <li>CERCADO DE SEGURIDAD, COMO SERPENTINA Y ELECTRIFICADA</li>
                <li>CÁMARAS DE SEGURIDAD DE ALTA GAMA Y CALIDAD MEDIA</li>
                <li>TECHADOS DE ESTRUCTURAS</li>
                <li>COLOCACIÓN DE MULTI PANEL EN TECHOS Y MUROS</li>
                <li>EMPASTADOS EN ESTUCO EN ACABADOS INTERIORES Y EXTERIORES</li>
                <li>ESCALINATAS PARA UNIDADES DEPORTIVAS Y TECHADOS MODERNOS DE ACUERDO A SU DISEÑO ARQUITECTÓNICO</li>
                <li>MANTENIMIENTO EN GENERAL Y DE LIMPIEZA Y JARDINERÍA</li>
            </ul>
            
        </div>
    </article>
    <!-- 
    <article class="w-full py-24 bg-[#E64309]/70 text-white text-center">
        <span class="font-bold text-5xl">
            Provedores en
        </span>
        <div class="py-12">
            <ul>
                <li>TECHOS CON ESTRUCTURAS Y TECHOS SIN ESTRUCTURAS (ARCO TECHOS)</li>
                <li>CANCELERÍA DE ALUMINIO NACIONAL Y EXTRANJERA, CON CUALQUIER TIPO DE CRISTAL</li>
                <li>ACERO INOXIDABLE PARA BARANDALES, CON CUALQUIER TIPO DE CRISTAL</li>
                <li>REJAS, PORTONES, CUALQUIER TIPO DE HERRERÍA</li>
                <li>MATERIALES DE ACERO PARA CONSTRUCCIÓN DE HANGARES DE AEROPUERTOS</li>
                <li>VARILLA</li>
                <li>CEMENTO</li>
                
                <li>VIGUETA Y BOVEDILLA</li>
                <li>TINACOS</li>
                <li>JARDINERÍA</li>
                <li>PINTURA</li>
                <li>PARA ESTAMPADOS DE CONCRETO EN VARIOS COLORES Y FIGURAS</li>
                <li>TUBERÍA HIDRÁULICA Y SANITARIA</li>
                <li>TENEMOS INFRAESTRUCTURA EN GUERRERO, Y ESTADO DE MÉXICO (TOLUCA)</li>
                <li>ROLADORAS, GRÚAS Y CAMIONES DE TRANSPORTE</li>
                <li>PODEMOS APOYAR EN ELABORACIÓN DE CUALQUIER PROYECTO</li>
            </ul>
        </div>
    </article>-->
</SectionContainer>

<style>
    .custom-children > * {
      @apply bg-[#E64309]/25 text-[#042F42] font-medium px-2 py-1 rounded-sm w-2/12 text-sm ;
    }
  </style>