---

---

<div class="w-full px-14 py-1 flex justify-between items-center bg-[#042F42] backdrop-blur-lg fixed">
    <div>
        <img class="w-24" src="./logo.png" alt="Logo sin fondo de la empresa">    
    </div>
    
    <nav class="flex gap-8 text-lg font-semibold text-white">
        <a href="/#home">Inicio</a>
        <a href="/#about">Nosotros</a>
        <a href="/#services">Servicios</a>
        <a href="/#gallery">Galeria</a>
    </nav>
</div>